<?xml version="1.0" encoding="UTF-8"?>
<!-- 日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->

<!-- status: 配置log4j本身的日志输出级别; monitorInterval: log4j配置修改自动检测间隔秒数 -->
<configuration status="warn" monitorInterval="5">

    <!-- 常量配置 -->
    <Properties>
        <!-- 日志输出格式: %d表示日期, %thread表示线程名, %-5level级别从左显示5个字符宽度, %msg日志消息, %n是换行符, %logger{36}表示Logger名字最长36个字符 -->
        <property name="LOG_PATTERN"
                  value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5level}[%thread] %style{%logger{36}}{cyan} : %msg%n"/>
        <!-- 日志存储文件路径: 不要使用相对路径 -->
        <property name="FILE_PATH" value="此处更换为你的日志文件存储路径"/>
        <property name="FILE_NAME" value="此处更换为你的项目名称"/>
    </Properties>

    <!--
        日志输出配置: 指定日志的根记录器root, 或者单独指定记录器logger, 如果没有指定的记录器, 则会使用根记录器来输出日志
        name: 指定类或类路径
        additivity: 是否在根记录中进行输出, 为true时会同时在root和logger中输出
     -->
    <loggers>
        <!-- 过滤掉一些无用的DEBUG信息 -->
        <logger name="com.baomidou" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="org.mybatis" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="org.hibernate" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="springfox" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- 根记录器 -->
        <root level="all">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileInfo"/>
            <appender-ref ref="RollingFileWarn"/>
            <appender-ref ref="RollingFileError"/>
        </root>
    </loggers>

    <!-- 日志输出源配置: 日志输出需要指定输出源 -->
    <appenders>
        <!-- 控制台输出 -->
        <console name="Console" target="SYSTEM_OUT">
            <!-- 输出格式 -->
            <PatternLayout pattern="${LOG_PATTERN}" disableAnsi="false" noConsoleNoAnsi="false"/>
            <!-- 过滤: 只输出level及其以上级别的信(onMatch), 其他的直接拒绝(onMismatch) -->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </console>

        <!--
            存入文件(info级别)
        　　这个会打印出所有的info及以下级别的信息, 每次大小超过size, 则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩, 作为存档
        -->
        <RollingFile name="RollingFileInfo" fileName="${FILE_PATH}/info.log"
                     filePattern="${FILE_PATH}/${FILE_NAME}-INFO-%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <!-- 日志归档触发策略: 当满足一定条件后就重命名原日志文件进行归档, 并生成新的日志文件用于日志写入 -->
            <Policies>
                <!-- 基于时间的策略: 每个小时归档一次 -->
                <TimeBasedTriggeringPolicy interval="1"/>
                <!-- 基于文件大小的策略: 文件达到20MB后归档一次 -->
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <!-- 默认的日志归档触发策略: 保留最近的15份, 默认是7 -->
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>

        <!--
            存入文件(warn级别)
        　　这个会打印出所有的info及以下级别的信息, 每次大小超过size, 则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩, 作为存档
        -->
        <RollingFile name="RollingFileWarn" fileName="${FILE_PATH}/warn.log"
                     filePattern="${FILE_PATH}/${FILE_NAME}-WARN-%d{yyyy-MM-dd}_%i.log.gz">
            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>

        <!--
            存入文件(error级别)
        　　这个会打印出所有的info及以下级别的信息, 每次大小超过size, 则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩, 作为存档
        -->
        <RollingFile name="RollingFileError" fileName="${FILE_PATH}/error.log"
                     filePattern="${FILE_PATH}/${FILE_NAME}-ERROR-%d{yyyy-MM-dd}_%i.log.gz">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
    </appenders>
</configuration>